--index-url http://54.199.119.179:8000/wg/dev/

Jinja2==2.7.3
MarkupSafe==0.23
PyYAML==3.11
ecdsa==0.11
isodate==0.5.0
httplib2==0.8
paramiko==1.14.1
pycrypto==2.6.1
wsgiref==0.1.2
xmltodict==0.9.0
http://github.com/diyan/pywinrm/archive/master.zip#egg=pywinrm
https://github.com/ansible/ansible/archive/b44e22aa68ba71f0baa3bc37f7d92f051dfed505.zip#egg=ansible